# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environments
venv/
.venv/
env/

# Flask
instance/
.webassets-cache

# Environment variables
.env

# OS junk
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Cache / Logs
*.log

# TMP (keep only .gitkeep)
tmp/*
!tmp/.gitkeep

# Uploaded files (extra safety)
uploads/

